* {
  box-sizing: border-box;
  background-color: black;
}

.h2,p{
  font-family: "robot";
  font-size: larger;
  color: #fff;
  
}
/* Style inputs */
input[type=text], select, textarea {
  font-family: "robot";
  color: white;
  width: 100%;
  padding: 12px;
  border: #fff;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  font-family: "robot";
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  font-family: "robot";
  color: #fff;
}

/* Style the container /contact section */
.container {
 color: #fff;
 columns: white;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  color: #fff;
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}